* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 200%;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 83, 0.9612219887955182) 31%, rgba(0, 212, 255, 1) 100%);
    height: 100px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

navbar ul li {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

navbar ul li a {
    text-decoration: none;
    color: rgb(236, 239, 243);
}


/* des aki*/

.cabeza {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.cabeza img {
    width: 100%;
    border: solid white 4px;
    margin-left: 150px;
    margin-top: 20px;
}


/*hasta aki*/

.cabeza h2 {
    background-color: transparent;
    border-color: #FFCA31;
    color: #FFCA31;
    border-color: #FFC53D;
    background-color: transparent;
    color: #824C00;
    text-align: center;
    margin: auto;
    font-size: 50px;
}

main {
    height: 80%;
    padding: 30px;
}

main article p {
    font-size: 40px;
    color: rgb(8, 90, 161);
}

.contenedor {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-galeria img {
    max-width: 30%;
    margin-bottom: 15px;
    border: solid white 2px;
    margin-bottom: 50px;
    object-fit: cover;
}

.container-profe {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.columax4 {
    width: 100%;
}

.columax4 img {
    max-width: 100%;
    border-radius: 15px 15px 0 0;
}

.columax4 p {
    font-size: 14px;
}

#contactos {
    padding: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}

.comunicacion {
    /*position: center;*/
    margin-left: 1200px;
    padding: 15px;
    background-color: rgb(108, 157, 240);
    width: 250px;
}


/*-----------------lo ultimo-----------------------------*/

.market {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.column2 {
    .column2 img {
        /*img de futbolista*/
        width: 80%;
    }
    .market,
    .column2 {
        width: 90%;
        border: solid white 2px;
    }
    /* display: flex;
             /* gap: 80px;*/
}


/*--------------------- de lo ultimo-----------------*/

.column2 form {
    /*formulario*/
    border: solid rgb(241, 236, 236) 5px;
    width: 60%;
    align-items: inherit;
    margin-left: 180px;
    margin-top: 30px;
}

.column2 form p {
    width: 50px;
    text-align: center;
}

.redes-sociales {
    /*redes sociales*/
    width: 40%px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.banner {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
    background-color: blueviolet;
    padding-top: 1px;
}

.banner:hover {
    background: #444;
}


/*
@media only screen and (min-width: 0px) {
    .cabeza {
        grid-template-columns: repeat(1, .1fr);
    }
    .cabeza img {
        width: 100%;
    }
    .contenedor-galeria img {
        width: 300px;
    }
    .container-profe {
        grid-template-columns: repeat(1, 1fr);
    }
    .market {
        grid-template-columns: (1, .5fr);
    }
    .column2 {
        max-width: 150%;
        margin-left: 50px;
    }
    .column2 form {
        /*formulario*/


/*     width: 100%;
        margin-left: -280px;
        margin-top: 130px;
    }
    .column2 img {
        width: 180%;
        margin-left: 5px;
    }
}


/*
@media only screen and (min-width: 300px) {
    .cabeza {
        grid-template-columns: repeat(1, 1fr);
    }
    .cabeza img {
        width: 100%;
    }
    .contenedor-galeria img {
        width: 300px;
    }
    .container-profe {
        grid-template-columns: repeat(1, 1fr);
    }
    .market {
        grid-template-columns: (1, 1fr);
    }
    .column2 {
        max-width: 150%;
        margin-left: 50px;
    }
    .column2 img {
        /*img de futbolista */


/*        max-width: 50%;
    }
}
/*
@media only screen and (max-width: 600px) {
    .contenedor-galeria img {
        min-width: 80%;
    }
    .container-profe {
        grid-template-columns: repeat(1, 1fr);
    }
    .cabeza img {
        width: 100%;
        border: solid white 4px;
        margin-left: 5px;
        margin-top: 20px;
    }
    .market {
        grid-template-columns: repeat(1, 1fr);
    }
    .column2 {
        max-width: 150%;
        margin-left: -100px;
    }
}